body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
}

h1{
    display: flex;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
}

ul{
    background-color: beige;
}

li{
    margin: 10px;
    cursor: pointer;
    /*Cursor so that user knows the items can be clicked*/
}

h3{
    background-color: antiquewhite;
}

